<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SXTDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1EF606EE1EAC4EE200D3F208</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1EF607071EAC4EE300D3F208</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1EF607121EAC4EE300D3F208</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
